# Project Specific
data/experience/*.txt
data/PFP/*.jpeg
data/PFP/*.png
static/photos/*.jpeg
static/photos/*.png
.env
venv/

# Python Boilerplate Ignores
.DS_Store
.AppleDouble
.LSOverride
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
/output/*.mp4
/output/*.png
.env
.venv
ENV/
.ipynb_checkpoints
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/